:root{
    --green-color:#00D053;
    --main-color:#ffffff;
    --back-grey:#343C4A;
    --section-title-color:#333333;
    --section-desc-color:#444444;
    --section-story-background:#F8F8F8;
    --border-color:#B4b4b4;
    --banner-text:#F5F5F5;
}