.banner-container{
    position: relative;
    padding: 0;
}
.banner-image{
    max-width:1440px;
    height: 650px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.banner-overlay{
    background: rgba(52, 60, 74, 0.39);
}
.banner-content{
    position: absolute;
    max-width: 1120px;
    max-height: 520px;
    width:80%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);  
}
.banner-info{
    margin-left: -40px;
    width: 100%;
}
.banner-header{
    font-family: Brandon Grotesque;
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
    color: var(--main-color);
}
.form-column{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: var(--main-color);
    -webkit-box-shadow: 0px 4px 28px rgba(6, 6, 90, 0.06);
            box-shadow: 0px 4px 28px rgba(6, 6, 90, 0.06);
    border-radius: 5px;
    padding: 46px 0px;
    max-height: 100%;
    border: 1px dotted var(--border-color);
}
.banner-desc{
    font-family: Brandon Grotesque;
    font-size: 18px;
    line-height: 26px;
    color: var(--banner-text);
}
.my-button{
    font-family: Brandon Grotesque;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    background: var(--green-color);
    border-radius: 5px;
    padding: 14px;
    margin:20px 0;
}
.my-button:hover, .my-button-inverse{
    background: var(--main-color);
    color: var(--green-color);
}
.my-button-inverse{
    width:100%;
}
.my-button-inverse:hover{
    color: var(--main-color);
    background: var(--green-color);
}
.form-title{
    font-family: Brandon Grotesque;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: var(--section-title-color);
}
.form-label{
    font-size: 14px;
    line-height: 20px;
    color: var(--border-color);
}
.my-form-icon{
    margin-left: 85%;
    margin-top:-17%;
    margin-bottom:17%;
    width:20px;
    height:20px;
    color:var(--green-color);
    display: block;
}
.form-input{
    margin-bottom: 10px;
}
@media (min-width:640px){
    .my-button{
        font-size: 16px;
        line-height: 18px;
    }
    .my-form-icon{
        margin-left: 80%;
        margin-top:-25%;
        margin-bottom:25%;
    }
    .form-title{
        font-size: 20px;
        line-height: 30px;
    }
    .form-column{
        border-color:transparent;
        padding:46px 28px;
    }
}
@media (min-width:960px){ 
    .banner-info{
        padding-right: 120px;
    }
    .banner-header{
        font-size: 60px;
        line-height: 66px;
    }
    .my-button{
        font-size: 16px;
        line-height: 23px;
    }
    .my-form-icon{
        margin-left: 85%;
        margin-top:-20%;
        margin-bottom:20%;
    }
    .form-title{
        font-size: 28px;
        line-height: 38px;
    }
}
@media (min-width:1200px){
    .banner-header{
        font-size: 70px;
        line-height: 78px;
    }
    .my-form-icon{
        margin-left: 85%;
        margin-top:-15%;
        margin-bottom:15%;
    }
}
@media (min-width: 1440px) { 
    .nav-item{
        padding-right: 8px;
    }
    .banner-header{
        font-size: 80px;
        line-height: 88px;
        padding-top: 40px;
        margin-bottom: 10px;
    }
    .form-column{
        width:356px;
        -webkit-box-align:start;
            -ms-flex-align:start;
                align-items:flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding:46px 38px;
    }
    .form-title{
        padding-left: 20px;
    }
    .my-button{
        margin-top:40px;
        padding-left: 75px;
        padding-right: 75px;
    }
}
