.singolo-card{
    margin:0 auto;
    padding:20px;
    background-color: var(--main-color);
    width: 90%;
    max-width: 546px;
}
.plan-card{
    border-radius: 5px;
    width:100%;
    margin-bottom: 30px;
    padding: 40px 20px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.plan-card:hover,
.customer-card:hover{
    -webkit-box-shadow: 0px 4px 28px rgba(6, 6, 90, 0.06);
            box-shadow: 0px 4px 28px rgba(6, 6, 90, 0.06);
}
.card-title{
    font-family: Brandon Grotesque;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    color: var(--section-title-color);
}
.card-subtitle{
    font-family: Brandon Grotesque;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: var(--section-title-color);
}
.price{
    font-family: Brandon Grotesque;
    font-size: 50px;
    line-height: 71px;
    font-weight: bold;
    text-align: center;
    color: var(--section-title-color);
}
.card-list{
    padding-left: 0;
}
.card-list li{
    list-style: none;
    font-family: Brandon Grotesque;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: var(--back-grey);
}
.card-desc{
    font-family: Brandon Grotesque;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color:var(--section-title-color);
}
.gal-img{
    width:100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.customer-card{
    background: #FFFFFF;
    margin-bottom:150px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.customer-photo{
    width:50px;
    height: 50px;
    margin: 0 auto;
}
.personal-card-title{
    font-family: Brandon Grotesque;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: var(--section-title-color) !important;
}
.city{
    font-family: Brandon Grotesque;
    font-size: 14px;
    line-height: 139.2%;
    text-align: center;
    color: #828282;
}
.stars{
    width:111px;
    height:19px;
    margin:0 auto;
}
.review-col{
    padding-left: 0 !important;
    margin-bottom: 30px;
}
.review-text{
    font-family: Brandon Grotesque;
    font-size: 16px;
    line-height: 139.2%;
    text-align: center;
    color: var(--section-title-color);
}
.date{
    font-family: Brandon Grotesque;
    font-size: 12px;
    line-height: 139.2%;
    text-align: center;
    text-transform: uppercase;
    color: var(--border-color);
}
.card-body{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

@media (min-width: 480px) { 
    .singolo-card{
        padding:37px;
    }
}
@media (min-width: 640px) { 
    .singolo-card{
        padding:58px 37px;
    }
    .card-list li{
        text-align: left;
    }
    .review-col{
        padding: 0 10px;
    }
}
@media (min-width: 960px) { 
    .singolo-card{
        max-width: 546px; 
    }
    .card-list li{
        text-align: center;
    }
}
@media (min-width: 960px) { 
    .card-list{
        margin: 0;
    }
    .card-list li{
        margin-bottom: 15px;
    }
}
@media (min-width: 1440px) { 
    .plan-button{
        margin:20px 10px !important;
    }
}
