.footer{
    background-image: url("../../images/footer.png");
    padding: 70px 20px;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
}
.footer-container{
    margin: 0 auto;
    width:90%;
    max-width: 623px;
    padding: 20px;
}
.f-col{
    padding-left: 10px !important;
}
.f-title{
    font-family: Brandon Grotesque;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: var(--main-color);
}
.f-label{
    font-family: Brandon Grotesque;
    font-size: 14px;
    line-height: 20px;
    color: var(--section-story-background);
}
.f-input{
    padding: 22px;
    font-family: Brandon Grotesque;
    font-size: 18px;
    line-height: 26px;
    color: black;
    background: var(--main-color);
    border-radius: 5px;
    max-width: 368px;
}
.f-input::placeholder{
    color:#373F55;
}
.f-button{
    margin-top:23px !important;
    padding: 14px 60px !important;
}
.social{
    margin-top: 50px;
    text-align: center;
}
.social a{
    color:white;
    padding: 0 20px;
}
.social a:hover{
    color:var(--green-color);
}
@media (min-width: 640px) { 
    .footer-container{
        padding: 30px 20px;
    }
}