
.nav-container{
    max-width:1440px;
    
}
.uk-navbar-container:not(.uk-navbar-transparent){
    background-color: var(--back-grey);
}
.navbar{
    background-color:#343C4A;
    align-items: center;
}
.column{
    display: flex;
    align-items: center;
}
.col-right{
    justify-content: flex-start;
    
}
.logo{
    font-family: Tw Cen MT;
    font-size: 30px;
    line-height: 33px;
    color: var(--green-color);
}
.logo:hover{
    color:var(--main-color);
}

.dropdown-menu-button,
.dropdown-menu-button:focus{
    color:var(--main-color);
    padding: 5px;
}

.search-img{
    width: 19px;
    height: 19px;
}
.user{
    display:flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 25px 0;
    align-items: center;
}
.user-name{
    display: none;
    font-family: Brandon Grotesque;
    font-size: 20px;
    line-height: 29px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 0;
}
.user-photo{
    width:28px;
    height: 28px;
    border-radius: 100%;
    background-image: url("../../images/user-photo.png");
    margin: 0 10px;
    background-repeat: no-repeat;
    background-position: center;
}
.user-photo-sm{
    width:20px;
    height: 20px;
    margin-left: 10px;
}
.col-search{
    justify-items: center;
    align-items: center;
    padding: 0;
    
}
.nav{
    justify-content: flex-start;
    display: none;
    margin-bottom: 0;
    
}
.nav-link{
    font-family: Brandon Grotesque;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}
.nav-item{
    list-style: none;
}
.nav-link:hover, .nav-item:hover,
.dropdown-item:hover,
.dropdown-menu-button:hover,
.dropdown-menu-button:active
{
    color:var(--green-color);
    background-color: var(--back-grey);
    text-decoration: none;
}
.dropdown{
    display:block;
    text-align: right;
}
.dropdown-toggle{
    padding: 6px;
}
.uk-dropdown-nav > li > a:hover
{
    color:var(--green-color);
}

@media (min-width: 640px) { 
    .dropdown{
        display: none;
    }
    .nav{
        display: flex;
        padding: 0;
    }
    .search-img{
        margin-left: 0;
    }
    .nav-link{
        font-size: 18px;
        padding: 0.5rem 5px;
    }
    .nav-item{
        padding-right: 0px;
    }
.dropdown-menu-button,
.dropdown-menu-button:focus{
    color:var(--main-color);
    padding: 0 30px;
}
.logo{
    font-size: 22px;
    padding: 0;
}
}
@media (min-width: 960px) { 
    .user-name{
        display: block;
        font-size: 16px;
        line-height: 20px;
    }
    .nav-link{
        font-size: 20px;
        padding: 0.5rem;
    }
   
}
@media (min-width: 1200px) { 
    
    .nav-link{
        padding: 0.5rem 1rem;
    }
    .search-img{
        margin-left: 30px;
    }
    .col-right{
        padding-left: 60px;
    }
    .user-name{
        font-size: 20px;
        line-height: 29px;
        font-weight: bold;
    }
    .nav-container{
        padding: 5px 40px;
    }
    .col-right{
        padding-left: 60px;
    }
    .logo{
        font-size: 30px;
        padding: 10px;
    }
    .nav{
        padding-left: 30px;
    }
}
@media (min-width: 1400px) { 
    .nav-item{
        padding-right: 8px;
    }
}