.section-techniques{
    margin-top:440px;
    padding:20px;
}
.player-panel{
    padding: 20px;
}
.preview-img{
    width:100%;
    max-width: 215px;
    height:25px;
    object-fit: cover;
}
@media (min-width:480px){
    .preview-img{
        height: 50px;
    }
    .section-techniques{
        margin-top:300px;
    }
}
@media (min-width:640px){
    .section-techniques{
        margin-top:0px;
    }
    .preview-img{
        height: 70px;
    }
}
@media (min-width:960px){
    .preview-img{
        height: 118px;
    }
}