.section-our-story{
    background-color: var(--section-story-background);
    padding-top:30px;
}
.story-img {
    max-height: 105px;
    margin-bottom: 44px;
    -o-object-fit: cover;
    object-fit: cover;
}
@media (min-width:960px){
    .section-our-story{
        padding-top: 100px;
        padding-bottom: 20px;
    }
}
@media (min-width:1440px){
    .section-our-story{
        padding-top: 100px;
        padding-bottom: 20px;
    }
    .story-desc{
        width: 792px;
       margin: 0 auto;
       padding: 10px 0;
       margin-bottom: 45px;
    }
    .story-img{
        padding: 0 50px;
    }
    .story-container{
        margin-bottom: 120px;
    }
}