.section-techniques{
    margin-top:40px;
    padding:20px;
    margin-bottom: 40px;
}
.tech-container{
    margin-bottom: 40px;
}
.stop-video{
    -o-object-fit: cover;
       object-fit: cover;
}
.uk-grid{
    margin-left: 0px;
}
.player-panel{
    padding: 20px;
    -o-object-fit: cover;
    object-fit: cover;
}
.preview-img{
    width:100%;
    max-width: 215px;
    height:25px;
    -o-object-fit: cover;
       object-fit: cover;
}
@media (min-width:480px){
    .preview-img{
        height: 50px;
    }
}
@media (min-width:640px){
    .section-techniques{
        margin-top:0px;
    }
    .preview-img{
        height: 70px;
    }
}
@media (min-width:960px){
    .preview-img{
        height: 118px;
    }
}
@media (min-width:1440px){
    figure{
        margin-bottom: 35px;
    }
}