.section-our-story{
    background-color: var(--section-story-background);
    padding-top:30px;
}
.story-img {
    max-height: 105px;
    margin-bottom: 44px;
    -o-object-fit: cover;
    object-fit: cover;
    width:100%;
}
.story-slider{
    position: relative;
}
.prev,
.next {
 color: var(--green-color) !important;
  position: absolute;
  top: 40%;
  height: 20px;
  width: 20px;
  z-index: 1;
  cursor: pointer;
}

.next {
  right: 0;
}

@media (min-width:960px){
    .section-our-story{
        padding-top: 100px;
        padding-bottom: 20px;
    }
    .prev,.next {
        height: 30px;
        width: 30px;
    }
}
@media (min-width:1440px){
    .section-our-story{
        padding-top: 100px;
        padding-bottom: 20px;
    }
    .story-desc{
        width: 792px;
       margin: 0 auto;
       padding: 10px 0;
       margin-bottom: 45px;
    }
    .story-img{
        padding: 0 50px;
    }
    .story-container{
        margin-bottom: 120px;
    }
}